{{template "base" .}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Contact</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat praesentium accusamus nostrum sit aliquam odio quae ullam natus dolore excepturi! Perferendis fuga totam debitis deleniti tenetur nemo accusantium. Mollitia, doloribus?</p>
            </div>
        </div>

    </div>
{{end}}