{{template "base" .}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <div class="col">
                <img src="/static/images/suites.jpg" class="img-fluid mx-auto d-block img-thumbnail suites-image" alt="Suites image">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Suites</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat praesentium accusamus nostrum sit aliquam odio quae ullam natus dolore excepturi! Perferendis fuga totam debitis deleniti tenetur nemo accusantium. Mollitia, doloribus?</p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success">Check Now</a>
            </div>
        </div>

    </div>
{{end}}

{{define "js"}}


<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        //notify("Message", "success")
        let html = `
        <form id="book-now-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                                <div class="row" id="reservation-dates-modal">
                                    <div class="col">
                                        <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                                    </div>
                                    <div class="col">
                                        <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                                    </div>
                                </div>
                        </div>
                    </div>
        </form>
        `
        attention.custom({
            msg: html,
            title: "Chose Dates",

            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rangepicker = new DateRangePicker(elem, {
                    // ...options
                    showOnFocus: true,
                })
            },

            didOpen: () => {
                document.getElementById('start').removeAttribute('disabled');
                document.getElementById('end').removeAttribute('disabled');
            },

            callback: function(result) {
                console.log("called");

                let form = document.getElementById("book-now-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");

                fetch('/book-json', {
                    method: "post",
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        console.log(data.ok);
                        console.log(data.message);
                    })
            }
        })

    })
</script>


{{end}}